* {
  margin:0;

}.app{
  background-color:#fafafa;
  
}

.app_headerImage{
  width:50px;
  height:50px;
  object-fit:contain;
  
}

.app_header{
background-color:white;
padding:15px;
border-bottom:1px solid lightgray;
}

.app_signup{
	display:flex;
	flex-direction:column;

}.app_headerImage1{
	width:150px;
  height:150px;
  object-fit:contain;

}